@page
@model project.Views.Home.aboutusModel
@{
}
<main>
    <div class="hero">
        <div class="container">
            <h2>Discover the Best Wheat Products</h2>
            <p>Explore our wide range of high-quality wheat products.</p>
        </div>
    </div>
<
    </main>